.mb-social {
  display: none; }

#menu-bars {
  display: none;
  margin: .75rem;
  font-size: 2rem;
  position: absolute;
  z-index: 20;
  right: 0;
  color: #555555;
  cursor: pointer; }

#nav-list {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 1rem; }
  #nav-list li {
    display: inline;
    margin: 0 1rem;
    padding: 0;
    cursor: pointer; }
    #nav-list li:hover {
      color: #1da1f2; }

@media only screen and (max-width: 1030px) {
  .mb-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .mb-social a {
      text-decoration: none; }
    .mb-social li {
      border-bottom: 1px solid #1da1f2;
      color: #1da1f2; }

  .mb-inactive {
    display: none; }

  #menu-bars {
    display: inline-block;
    color: white; }

  #nav-list {
    position: absolute;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center; }
    #nav-list li {
      display: block;
      padding: 0;
      cursor: pointer;
      margin: .5rem; }
      #nav-list li:hover {
        color: #1da1f2; } }
header {
  display: block; }
  header .active-icon {
    color: #1da1f2; }

#img-slider {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1; }

.slide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0; }

.slide-active {
  opacity: 1; }

.link {
  color: #555555;
  text-decoration: none; }

.slideFadeOut {
  animation: slideFadeOut 2s infinite; }

@keyframes slideFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.slideFadeIn {
  animation: slideFadeIn 2s infinite; }

@keyframes slideFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.spin {
  animation: spin 1s; }

.spin-back {
  animation: spin-back 1s; }
  .spin-back:before {
    color: white; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes spin-back {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }
#home {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home h1, #home h3, #home h6 {
    margin: 1rem;
    padding: 0;
    color: white; }
  #home #joke {
    font-style: italic; }
  #home #more-btn-link {
    margin: 1rem; }
    #home #more-btn-link #more-btn {
      background: rgba(85, 85, 85, 0.5); }
      #home #more-btn-link #more-btn:hover {
        background: rgba(29, 161, 242, 0.5); }

#social-icons {
  margin: 0;
  padding: 0; }

.social-list {
  margin: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row; }

.icon {
  margin: 0;
  padding: .5rem; }
  .icon a {
    margin: 0;
    padding: 0; }
  .icon i:before {
    font-size: 2rem; }

.circle {
  border: 2px solid white;
  margin: 0;
  border-radius: 50%;
  padding: 1.25rem; }

.white-cl {
  color: white; }

@media only screen and (max-width: 1030px) {
  #home {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #home h6 {
      margin: 2rem .5rem; }
    #home .social-list {
      margin: 0rem;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    #home .icon {
      border-radius: 0px;
      margin: .25rem 1rem;
      display: inline;
      font-size: 1.5rem;
      position: relative;
      z-index: 4;
      cursor: pointer; }
      #home .icon i:before {
        font-size: 1.5rem; }

  #social-icons,
  #more-btn-link {
    display: none; } }
.white-bg {
  background: white; }

.purple {
  color: purple; }

.tw-blue {
  color: #1da1f2; }

.li-blue {
  color: #0077B5; }

.fb-blue {
  color: #3B5998; }

.tan {
  color: tan; }

#profile {
  background: #FFFFFF;
  height: 768px; }
  #profile #profile-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  #profile img {
    border: 6px double black;
    display: inline-block;
    width: 300px;
    height: 300px; }
  #profile aside p {
    margin: 1rem; }

@media only screen and (max-width: 1030px) {
  #profile #profile-sub-container {
    flex-direction: column;
    align-items: center; }
  #profile img {
    border: 6px double black;
    height: 200px;
    width: 200px; }
  #profile aside {
    margin-top: 1rem; }
    #profile aside p {
      margin: 1rem; } }
#languages {
  height: 864px;
  background: #F7F7F7; }
  #languages .lang-grp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #languages .lang-grp:first-of-type {
      margin-bottom: 3rem; }
  #languages li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0 1rem; }

@media only screen and (max-width: 700px) {
  #languages .lang-grp {
    flex-direction: column; }
    #languages .lang-grp:first-of-type {
      margin-bottom: 0rem; }
  #languages li {
    margin: 1rem 1rem; } }
#skills {
  height: 795px;
  background: #FFFFFF; }
  #skills #skills-sub-container {
    display: flex;
    justify-content: space-around; }
  #skills .skills-box {
    padding: .5rem 1.5rem .5rem 1.5rem;
    width: 33.3%;
    text-align: center; }

@media only screen and (max-width: 1030px) {
  #skills #skills-sub-container {
    flex-direction: column;
    align-items: center; }
  #skills .skills-box {
    padding: none;
    width: 100%;
    text-align: center; } }
#portfolio {
  height: 758px;
  background: #F7F7F7; }
  #portfolio #portfolio-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #portfolio #portfolio-sub-container a {
      padding: 1rem; }
      #portfolio #portfolio-sub-container a:hover {
        animation: bg-change .5s;
        box-shadow: 0px 0px 10px 6px #555555; }
  #portfolio .recent-works {
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 1;
    text-align: center; }

@keyframes bg-change {
  from {
    box-shadow: none; }
  to {
    box-shadow: 0px 0px 10px 6px #555555; } }
@media only screen and (max-width: 1030px) {
  #portfolio #portfolio-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center; } }
#education {
  min-height: 815px;
  background: #FFFFFF; }
  #education #edu-exp {
    width: 50%;
    margin: 0 .5rem 1rem .5rem; }
  #education #sub-lang-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
  #education .school {
    box-sizing: border-box;
    width: 33.3%;
    padding: .5rem 1.5rem .5rem 1.5rem; }
  #education .school-name {
    text-align: left;
    padding: 0; }
  #education h6 {
    color: #1da1f2;
    font-weight: bold; }
  #education time {
    font-weight: bolder; }

@media only screen and (max-width: 1030px) {
  #education #edu-exp {
    width: 80%;
    margin: 1rem; }
  #education #sub-lang-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #education .school {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem; } }
footer {
  background: #1da1f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem .5rem; }
  footer #res-link {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    position: relative; }
    footer #res-link:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 3px;
      background-color: white;
      transition: width .5s ease-in-out; }
    footer #res-link:hover {
      color: white; }
      footer #res-link:hover:after {
        width: 100%; }
  footer #mail-link {
    margin-top: 3rem;
    font-size: 1.25rem;
    transition: color .5s, background .5s; }
    footer #mail-link:hover {
      color: #1da1f2;
      background: white; }

:root {
  font-size: 16px; }

a,
p,
details,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
  font-family: 'Lato', sans-serif;
  margin: .25rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1rem .5rem; }

.hide {
  display: none; }

.inline-list {
  display: inline; }

.btn {
  border: 2px solid white;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  cursor: pointer;
  text-decoration: none; }

.section {
  background: white;
  position: relative;
  z-index: 1;
  padding: 8rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-head {
  border-bottom: 4px solid #1da1f2;
  padding: 0 0 1rem 0;
  margin: .5rem;
  width: auto; }

.section-intro {
  margin: 2rem .5rem;
  text-align: center; }

.sub-ct {
  width: 80%; }

#spacer {
  height: 30px; }

@media only screen and (max-width: 1030px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/*# sourceMappingURL=index.css.map */
