$blue: rgb(29, 161, 242);
$text: #555555;
$bg1: #FFFFFF;
$bg2: #F7F7F7;

@import 'nav', 'header', 'animations', 'home', 'profile', 'languages', 'skills', 'portfolio', 'education', 'footer';

:root {
	font-size: 16px;
}

a,
p, 
details, 
li,
span, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: $text;
	font-family: 'Lato', sans-serif;
	margin: .25rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	padding: 1rem .5rem;
}

.hide {
	display: none;
}

.inline-list {
	display: inline;
}

.btn {
	border: 2px solid white;
	color: white;
	padding: 1rem 3rem 1rem 3rem;
	cursor: pointer;
	text-decoration: none;
}

// Section Styles

.section {
	background: white;
	position: relative;
	z-index: 1;
	padding: 8rem .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-head {
	border-bottom: 4px solid $blue;
	padding: 0 0 1rem 0;
	margin: .5rem;
	width: auto;
}

.section-intro {
	padding: 1rem .5rem 3rem;
	text-align: center;
}

.sub-ct {
	width: 80%;
}
#spacer {
	height: 30px;
}



@media only screen and (max-width: 1030px) {

	.section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


@media only screen and (max-width: 700px) {

}



