#profile {
	background: $bg1;
	height: 768px;
	#profile-sub-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	img {
		border: 6px double black;
		display: inline-block;
		width: 300px;
		height: 300px;
	}
	aside {
		p {
			margin: 1rem;
		}
	}
}

// Tablet
@media only screen and (max-width: 1030px) {

	#profile {
		height: auto;
		#profile-sub-container {
			flex-direction: column;
			align-items: center;
		}
		img {
			border: 6px double black;
			height: 200px;
			width: 200px;
		}
		aside {
			margin-top: 1rem;
			p {
				margin: 1rem;
			}
		}
	}
	
}

// Phone
@media only screen and (max-width: 700px) {

}